# Environment Variables for LearnHouse
# Copy this to .env for local development

# Set the initial admin password
LEARNHOUSE_INITIAL_ADMIN_PASSWORD=Password123!

LEARNHOUSE_SITE_NAME=LearnHouse
LEARNHOUSE_SITE_DESCRIPTION=LearnHouse is an open-source platform tailored for learning experiences.
LEARNHOUSE_CONTACT_EMAIL=you@youremail.com
LEARNHOUSE_DOMAIN=localhost
LEARNHOUSE_SSL=false
LEARNHOUSE_USE_DEFAULT_ORG=true
# LEARNHOUSE_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
LEARNHOUSE_COOKIE_DOMAIN=.localhost
# LEARNHOUSE_ALLOWED_REGEXP=\b((?:https?://)[^\s/$.?#].[^\s]*)\b
LEARNHOUSE_SELF_HOSTED=true
# LEARNHOUSE_SQL_CONNECTION_STRING=postgresql://learnhouse:learnhouse@postgresql:5432/learnhouse